* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {}

body {
  font-family: 'PT Sans', sans-serif;
}

header {
  height: 80px;
}

/* utility */
.container {
  margin: 0 auto;
  max-width: 1140px;
}

.debug {
  border: 1px solid black;
  background-color: #0084FD;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

/* header */
header .container.d-flex {
  justify-content: space-between;
  height: 100%; 
  align-items: center;
}

header .container.d-flex .hamburger{
display: none;
}

/* main */
/* store */
main .store{
height: 880px; /*debug */
}

main .store .container.d-flex{
flex-wrap: wrap;
}
main .store .container.d-flex .card{
width: 363px;
margin-top: 25px;
height: 350px;  /*debug */
}

main .store .container.d-flex .card:nth-child(4){
margin-left: 25px;
margin-right: 25px;
}

main .store .container.d-flex .card.app{
width: 752px;
margin-right: 25px;
}

/* /store */


/* footer */

/* media mobile */
@media screen and (max-width:480px) {
  /* header */
  header .container.d-flex .hamburger{
    display: block;
  }
  header .container.d-flex .menu{
    display: none;
    
  }
  /* main */
  /* footer */
}
/* media tablet*/
/* header */
/* main */
/* footer */
/* media Desktop*/
/* header */
/* main */
/* footer */